{
  "optimizer" : ["str",   "sgd"],
  "LR"        : ["float", "0.01"],
  "momentum"  : ["float", "0.9"], 
  "Decay"     : ["float", "0."],
  "nesterov"  : ["bool",  "1"],
  "criterion" : ["str",   "MaskPairLoss-None"],
  "loss_norm" : ["bool",  "1"],
  "lossnorm"  : ["bool",  "1"],
  "epochs"    : ["int",   300],
  "schedule"  : ["int",   [50, 100, 150, 200, 250]],
  "gamma"     : ["float", 0.1]
}
